node_modules/
.env
.env.*
firebase-debug.log
firestore-debug.log
ui-debug.log
*.local
*.log
serviceAccount*.json
*private*.json
*.pem
emulator-data/
.firebase/
coverage/
.claude/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
